.list {
  margin-bottom: 15px;
}

.wrapper {
  position: relative;
}

.spinnerWrapper {
  position: absolute;
  width: 100%;
  min-height: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.spinner {
  width: 50px;
  height: 50px;
}
